@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{
	font-family: "Marker Felt", "Josefin Sans", fantasy;
	color: #003366;
	background-color:#B2FFFF;
}

h1 {
	font-size: 13em;
	text-align: center;
	color:#FFFFF0
;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	font-style: "Josefin Sans";
	text-align: center;
	background-color:#F3E5AB; 
}

th {
	text-align: center;
	font-style: "Josefin Sans";
	color: #ffffff;
	background-color: #F3E5AB;
}